mixin card-vertical(className,img,type,showCat,videoSlider)
	-if(type == 1) {
		div(class=className)
			a(href="#")
				div.label.label-orang спецпроект
				div.like.js-like(data-like='1')
					// когда отмечано добавляется класс .add к классу .icon-heart
					.icon-heart
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"vviewBox="0 0 16 15" xml:space="preserve">
						<g>
						<path d="M8,14.5c-0.1,0-0.1,0-0.2,0C7.5,14.3,0.5,11.2,0.5,5c0-2.5,2-4.5,4.5-4.5c1.1,0,2.2,0.4,3,1.1c0.8-0.7,1.9-1.1,3-1.1 c2.5,0,4.5,2,4.5,4.5c0,6.2-7,9.3-7.3,9.4C8.2,14.4,8.1,14.5,8,14.5z"/>
						<path d="M11,1c2.2,0,4,1.8,4,4c0,6-7,9-7,9s-7-3-7-9c0-2.2,1.8-4,4-4c1.2,0,2.3,0.5,3,1.4C8.8,1.5,9.8,1,11,1 M11,0 C9.9,0,8.9,0.4,8,1C7.2,0.4,6.1,0,5,0C2.2,0,0,2.2,0,5c0,6.6,7.3,9.8,7.6,9.9C7.8,14.9,7.9,15,8,15s0.3,0,0.4-0.1 C8.7,14.7,16,11.6,16,5C16,2.2,13.8,0,11,0L11,0z"/>
						</g>
						</svg>
					//span.heart
					// img(src='img/icons/heart1.png')
				if (videoSlider)
					img.video-play(src='img/video_play.png' alt='')
				div.wrapp-img
					img(src=img alt='')
					div.wrapp-img-bg
				div.wrapp-text-card
					if (showCat)	
						p.card-category 
							object
								a(href='#') Зож
					p.card-title Как подготовиться к фарафону: история минчанки
				p.card-date_like 6 октября 2016 /
					span.eyes <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="0 5.7 406.7 286.8" enable-background="new 0 5.7 406.7 286.8" xml:space="preserve"><path d="M405.1,138.9C292.9-38.7,115.3-38.7,3.1,138.9c-4.1,6.1-4.1,14.3,0,20.4c112.3,177.6,289.8,177.6,402.1,0		C407.2,153.2,407.2,145,405.1,138.9z M203.1,251.1c-57.1,0-102-44.9-102-102s44.9-102,102-102s102,44.9,102,102S260.2,251.1,203.1,251.1z"/>	<circle cx="203.1" cy="149.1" r="61.2"/></svg> 159
					span.comment <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="259.1 79.1 352.1 352.1" enable-background="new 259.1 79.1 352.1 352.1" xml:space="preserve"><path d="M259.1,79.1h352.1v264.1h-88v88l-88-88h-176V79.1z"/></svg> 28	
	-}
	-if(type == 2) {
		-var strImg = 'background-image: url("' + img + '");'
		div(class=className)
			a(href="#" )
				div.label.label-blue спецпроект
				div.like.js-like
					// когда отмечано добавляется класс .add
					.icon-heart
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"vviewBox="0 0 16 15" xml:space="preserve">
						<g>
						<path d="M8,14.5c-0.1,0-0.1,0-0.2,0C7.5,14.3,0.5,11.2,0.5,5c0-2.5,2-4.5,4.5-4.5c1.1,0,2.2,0.4,3,1.1c0.8-0.7,1.9-1.1,3-1.1 c2.5,0,4.5,2,4.5,4.5c0,6.2-7,9.3-7.3,9.4C8.2,14.4,8.1,14.5,8,14.5z"/>
						<path d="M11,1c2.2,0,4,1.8,4,4c0,6-7,9-7,9s-7-3-7-9c0-2.2,1.8-4,4-4c1.2,0,2.3,0.5,3,1.4C8.8,1.5,9.8,1,11,1 M11,0 C9.9,0,8.9,0.4,8,1C7.2,0.4,6.1,0,5,0C2.2,0,0,2.2,0,5c0,6.6,7.3,9.8,7.6,9.9C7.8,14.9,7.9,15,8,15s0.3,0,0.4-0.1 C8.7,14.7,16,11.6,16,5C16,2.2,13.8,0,11,0L11,0z"/>
						</g>
						</svg>
				div.card-bg(style=strImg)
				div.wrapp-img-bg-full
				if (showCat)
					p.card-category 
						object
							a(href='#') Зож
					p.card-title Как подготовиться к фарафону: история минчанки
					p.card-date_like 6 октября 2016 / 
						span.eyes <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="0 5.7 406.7 286.8" enable-background="new 0 5.7 406.7 286.8" xml:space="preserve"><path d="M405.1,138.9C292.9-38.7,115.3-38.7,3.1,138.9c-4.1,6.1-4.1,14.3,0,20.4c112.3,177.6,289.8,177.6,402.1,0		C407.2,153.2,407.2,145,405.1,138.9z M203.1,251.1c-57.1,0-102-44.9-102-102s44.9-102,102-102s102,44.9,102,102S260.2,251.1,203.1,251.1z"/>	<circle cx="203.1" cy="149.1" r="61.2"/></svg> 159
						span.comment <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="259.1 79.1 352.1 352.1" enable-background="new 259.1 79.1 352.1 352.1" xml:space="preserve"><path d="M259.1,79.1h352.1v264.1h-88v88l-88-88h-176V79.1z"/></svg> 28		
	-}
	-if(type == 3) {
		div(class=className)
			a(href="#")
				div.label.label-orang спецпроект
				div.like.js-like.fvfvf
					// когда отмечано добавляется класс .add
					.icon-heart
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"vviewBox="0 0 16 15" xml:space="preserve">
						<g>
						<path d="M8,14.5c-0.1,0-0.1,0-0.2,0C7.5,14.3,0.5,11.2,0.5,5c0-2.5,2-4.5,4.5-4.5c1.1,0,2.2,0.4,3,1.1c0.8-0.7,1.9-1.1,3-1.1 c2.5,0,4.5,2,4.5,4.5c0,6.2-7,9.3-7.3,9.4C8.2,14.4,8.1,14.5,8,14.5z"/>
						<path d="M11,1c2.2,0,4,1.8,4,4c0,6-7,9-7,9s-7-3-7-9c0-2.2,1.8-4,4-4c1.2,0,2.3,0.5,3,1.4C8.8,1.5,9.8,1,11,1 M11,0 C9.9,0,8.9,0.4,8,1C7.2,0.4,6.1,0,5,0C2.2,0,0,2.2,0,5c0,6.6,7.3,9.8,7.6,9.9C7.8,14.9,7.9,15,8,15s0.3,0,0.4-0.1 C8.7,14.7,16,11.6,16,5C16,2.2,13.8,0,11,0L11,0z"/>
						</g>
						</svg>
				if (videoSlider)
					img.video-play(src='img/video_play.png' alt='')
				div.wrapp-img
					img(src=img alt='')
					div.wrapp-img-bg
				div.wrapp-text-card
					if (showCat)
						p.card-category
							object
								a(href='#') Зож
					p.card-title Как подготовиться
				p.card-date_like 6 октября 2016 /
					span.eyes <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="0 5.7 406.7 286.8" enable-background="new 0 5.7 406.7 286.8" xml:space="preserve"><path d="M405.1,138.9C292.9-38.7,115.3-38.7,3.1,138.9c-4.1,6.1-4.1,14.3,0,20.4c112.3,177.6,289.8,177.6,402.1,0		C407.2,153.2,407.2,145,405.1,138.9z M203.1,251.1c-57.1,0-102-44.9-102-102s44.9-102,102-102s102,44.9,102,102S260.2,251.1,203.1,251.1z"/>	<circle cx="203.1" cy="149.1" r="61.2"/></svg> 159
					span.comment <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="259.1 79.1 352.1 352.1" enable-background="new 259.1 79.1 352.1 352.1" xml:space="preserve"><path d="M259.1,79.1h352.1v264.1h-88v88l-88-88h-176V79.1z"/></svg> 28
	-}