mixin card-horizont-2(className,img,text,descr,categor,like_select,full,dop)
	div(class=className)
		a(href="#")
			if (!full)
				div.wrapp-img
					div.wrapp-img-bg-h
					img(src=img alt='')
					div.like.js-like
						img(src='img/icons/heart1.png')
			else 
				div.wrapp-bg(style='background-image: url("'+img+'");')
				div.wrapp-img-bg-h
								
			div.wrapp-content.text-left
				if (full)
					div.like.js-like
						img(src='img/icons/heart1.png')
				if (categor) 
					p.card-category 
						object
							a(href='#') #{categor}
				p.card-title #{text}
				if (descr) 
					p.card-description #{descr}
				if (like_select)
					p.card-date_like 
						span.eyes <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="0 5.7 406.7 286.8" enable-background="new 0 5.7 406.7 286.8" xml:space="preserve"><path d="M405.1,138.9C292.9-38.7,115.3-38.7,3.1,138.9c-4.1,6.1-4.1,14.3,0,20.4c112.3,177.6,289.8,177.6,402.1,0		C407.2,153.2,407.2,145,405.1,138.9z M203.1,251.1c-57.1,0-102-44.9-102-102s44.9-102,102-102s102,44.9,102,102S260.2,251.1,203.1,251.1z"/>	<circle cx="203.1" cy="149.1" r="61.2"/></svg> 159
						span.comment <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 viewBox="259.1 79.1 352.1 352.1" enable-background="new 259.1 79.1 352.1 352.1" xml:space="preserve"><path d="M259.1,79.1h352.1v264.1h-88v88l-88-88h-176V79.1z"/></svg> 28	
				p.dop_info!= dop

